# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Experts
!Experts/
!Experts/Indicators/**
!Experts/Okmich/**
!Experts/Practise/**

# Files
#!Files/

# Include
!Include/
!Include/Okmich/**
!Include/candlepatterns.mqh
!Include/JAson.mqh
!Include/kalman.mqh
!Include/MovingAverages.mqh
!Include/smoothalgorithms.mqh
!Include/signalcandles.mqh
!Include/TradeAlgorithms.mqh
!Include/WilliamBlau.mqh


# Indicators
!Indicators/
!Indicators/Articles/**
!Indicators/Okmich/**
!Indicators/Practise/**


# Profiles
!Profiles/
!Profiles/SymbolSets/**
!Profiles/Templates/**



# Scripts
!Scripts/
!Scripts/General/**
!Scripts/Okmich/**
!Scripts/Practise/**
!Scripts/Python/**
!Scripts/adr.mq5
!Scripts/jason_test.mq5



# Ignore build files and logs (common for MetaTrader)
*.ex5
*.log
*.obj
*.dat

# Ignore testing and optimization files
Tester/
Reports/

# Ignore common system files
.DS_Store
Thumbs.db
